html {
    color: Blue;
    background-color: rgba(205, 226, 43, 0.858);
}

* {
    box-sizing: border-box;
}

header {
    display: block;
    margin: 0%;
    position: relative;
    top: 0%;
    left: 10%;
    right: 10%;
    height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: rgba(255, 255, 255, 0.306);
    color: rgba(141, 25, 25, 0.459);
    text-shadow: 1px -1px blue;
    font-weight: bolder;
}

nav {
    width: 10%;
    height: auto;
    border-bottom: 3px dotted black;
    padding: 5px;
    margin: 5px;
    position: inherit;
    display: block;
    float: left;
    display: flex;
    flex-direction: column;
}

p#rules {
    text-align: center;
    font-weight: bold;
    text-indent: 5% hanging;
}

#popupdisplay {
    position: absolute;
    margin: auto;
    width: 50%;
    height: auto;
}

#players-hand {
    display: flex;
    width: 25%;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 1;
    background-color: rgba(245, 245, 220, 0.217);
    justify-content: space-around;
    position: absolute;
    top: 15%;
    margin: auto;
    position: relative;

}

.bust {
    color: red;
    text-decoration: line-through orange;
}

.hidden {
    visibility: hidden;
}

#actions {
    display: absolute;
    background-color: gray;
    border: 2px solid black;
}